<app-cabecera></app-cabecera>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="main-layout">
    <aside class="sidebar">
        <app-navegacion></app-navegacion>
    </aside>

    <div class="form-container">

        <h2>{{ editando ? 'Editar Usuario' : 'Crear Usuario' }}</h2>

        <form [formGroup]="usuarioForm" (ngSubmit)="guardar()" class="form-container">

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-user-shield"></i>
                    <select formControlName="tipo_documento">
                        <option value="">Tipo documento</option>
                        <option value="CC">CC</option>
                        <option value="TI">TI</option>
                        <option value="RC">RC</option>
                        <option value="PS">PS</option>
                    </select>
                </div>

                <div class="form-group">
                    <i class="fas fa-user-tag"></i>
                    <input type="text" formControlName="documento" placeholder="Numero documento">
                </div>
            </div>

            <div class="form-row">

                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input type="text" formControlName="nombre_usuario" placeholder="Nombre">
                </div>

                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="cod_eps">
                        <option value="">Eps</option>
                        <option value="1">Compensar</option>
                        <option value="2">Nueva</option>
                        <option value="3">Famisanar</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-user-shield"></i>
                    <select formControlName="id_rol">
                        <option value="">Rol</option>
                        <option value="1">Administrador</option>
                        <option value="2">Operador</option>
                        <option value="3">Medico</option>
                        <option value="4">Auxiliar</option>
                    </select>
                </div>

                <div class="form-group">
                    <i class="fas fa-venus-mars"></i>
                    <select formControlName="sexo">
                        <option value="">Sexo</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-mobile-alt"></i>
                    <input type="tel" formControlName="celular_usuario" placeholder="Celular">
                </div>

                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" formControlName="correo_usuario" placeholder="Email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="cod_pais">
                        <option value="">Pais</option>
                        <option value="57">Colombia</option>
                        <option value="52">Mexico</option>
                    </select>
                </div>
                <div class="form-group">
                    <i class="fas fa-city"></i>
                    <select formControlName="cod_municipio">
                        <option value="">Municipio</option>
                        <option value="001">Bogotá</option>
                        <option value="002">Medellín</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" formControlName="licencia" placeholder="Licencia">
                </div>
                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="tipo_sangre">
                        <option value="">Tipo de Sangre</option>
                        <option value="1">O+</option>
                        <option value="2">O-</option>
                        <option value="3">A+</option>
                        <option value="4">A-</option>
                    </select>
                </div>
                <div class="form-group">
                    <i class="fas fa-city"></i>
                    <select formControlName="estado_usuario">
                        <option value="">Estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn-guardar">
                {{ editando ? 'Actualizar' : 'Crear Usuario' }}
            </button>

        </form>
        <div class="table-container">

            <h2 class="table-title">Usuarios Registrados</h2>

            <table class="custom-table">

                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Eps</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Pais</th>
                        <th>Ciudad</th>
                        <th>Tipo Sangre</th>
                        <th>Estado</th>
                        <th>Licencia</th>
                        <th class="acciones-col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                        
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <td>{{ usuario.tipo_documento }}</td>
                        <td>{{ usuario.documento }}</td>
                        <td>{{ usuario.nombre_usuario | titlecase }}</td>
                        <td>
                            <span class="badge" [ngClass]="usuario.rol">
                                {{ usuario.id_rol }}
                            </span>
                        </td>
                        <td>{{ usuario.cod_eps}}</td>
                        <td>{{ usuario.celular_usuario }}</td>
                        <td>{{ usuario.correo_usuario }}</td>
                        <td>{{ usuario.cod_pais }}</td>
                        <td>{{ usuario.cod_municipio }}</td>
                        <td>{{ usuario.tipo_sangre }}</td>
                        <td>{{ usuario.estado_usuario }}</td>
                        <td>{{ usuario.licencia }}</td>
                        <td class="acciones">
                            <button class="btn-edit" (click)="editar(usuario, i)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn-delete" (click)="eliminar(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>
<app-pie></app-pie>