<app-cabecera></app-cabecera>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="main-layout">
    <aside class="sidebar">
        <app-navegacion></app-navegacion>
    </aside>

    <div class="form-container">

        <h2>{{ editando ? 'Editar Usuario' : 'Crear Usuario' }}</h2>

        <form [formGroup]="usuarioForm" (ngSubmit)="guardar()" class="form-container">

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-user-shield"></i>
                    <select formControlName="tipo_documento">
                        <option [ngValue]="null">Tipo documento</option>
                        <option [ngValue]="'CC'">CC</option>
                        <option [ngValue]="'TI'">TI</option>
                        <option [ngValue]="'RC'">RC</option>
                        <option [ngValue]="'PS'">PS</option>
                    </select>
                </div>

                <div class="form-group">
                    <i class="fas fa-user-tag"></i>
                    <input type="number" formControlName="documento" placeholder="Numero documento">
                </div>
            </div>

            <div class="form-row">

                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input type="text" formControlName="nombre_usuario" placeholder="Nombre">
                </div>

                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="cod_eps">
                        <option [ngValue]="null">Eps</option>
                        <option [ngValue]="1">Compensar</option>
                        <option [ngValue]="2">Nueva</option>
                        <option [ngValue]="3">Famisanar</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-user-shield"></i>
                    <select formControlName="id_rol">
                        <option [ngValue]="null">Rol</option>
                        <option [ngValue]="1">Administrador</option>
                        <option [ngValue]="2">Operador</option>
                        <option [ngValue]="3">Medico</option>
                        <option [ngValue]="4">Auxiliar</option>
                    </select>
                </div>

                <div class="form-group">
                    <i class="fas fa-venus-mars"></i>
                    <select formControlName="sexo">
                        <option [ngValue]="null">Sexo</option>
                        <option [ngValue]="'Masculino'">Masculino</option>
                        <option [ngValue]="'Femenino'">Femenino</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-mobile-alt"></i>
                    <input type="tel" formControlName="celular_usuario" placeholder="Celular">
                </div>

                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" formControlName="correo_usuario" placeholder="Email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="cod_pais">
                        <option [ngValue]="">Pais</option>
                        <option [ngValue]="57">Colombia</option>
                        <option [ngValue]="52">Mexico</option>
                    </select>
                </div>
                <div class="form-group">
                    <i class="fas fa-city"></i>
                    <select formControlName="cod_municipio">
                        <option [ngValue]="">Municipio</option>
                        <option [ngValue]="001">Bogotá</option>
                        <option [ngValue]="002">Medellín</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" formControlName="licencia" placeholder="Licencia">
                </div>
                <div class="form-group">
                    <i class="fas fa-map"></i>
                    <select formControlName="tipo_sangre">
                        <option [ngValue]="null">Tipo de Sangre</option>
                        <option [ngValue]="'O+'">O+</option>
                        <option [ngValue]="'O-'">O-</option>
                        <option [ngValue]="'A+'">A+</option>
                        <option [ngValue]="'A-'">A-</option>
                    </select>
                </div>
                <div class="form-group">
                    <i class="fas fa-city"></i>
                    <select formControlName="estado_usuario">
                        <option [ngValue]="null">Estado</option>
                        <option [ngValue]="'Activo'">Activo</option>
                        <option [ngValue]="'Inactivo'">Inactivo</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn-guardar">
                {{ editando ? 'Actualizar' : 'Crear Usuario' }}
            </button>

        </form>

        <div class="table-container">

            <h2 class="table-title">Usuarios Registrados</h2>

            <div *ngIf="isLoading" class="alert alert-info"> Cargando usuarios... </div> <div *ngIf="errorCarga" class="alert alert-error"> {{ errorCarga }} </div> <table *ngIf="!isLoading" class="custom-table"> <!-- tu tabla --> </table>

            <table class="custom-table">

                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Eps</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>Pais</th>
                        <th>Ciudad</th>
                        <th>Tipo Sangre</th>
                        <th>Estado</th>
                        <th>Licencia</th>
                        <th class="acciones-col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                        
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <td>{{ usuario.tipo_documento }}</td>
                        <td>{{ usuario.documento }}</td>
                        <td>{{ usuario.nombre_usuario | titlecase }}</td>
                        <td>{{ usuario.id_rol }} </td>
                        <td>{{ usuario.cod_eps }}</td>
                        <td>{{ usuario.celular_usuario }}</td>
                        <td>{{ usuario.correo_usuario }}</td>
                        <td>{{ usuario.cod_pais }}</td>
                        <td>{{ usuario.cod_municipio }}</td>
                        <td>{{ usuario.tipo_sangre }}</td>
                        <td>{{ usuario.estado_usuario }}</td>
                        <td>{{ usuario.licencia }}</td>
                        <td class="acciones">
                            <button class="btn-edit" (click)="editar(usuario, i)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn-delete" (click)="eliminar(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>
<app-pie></app-pie>