<app-cabecera></app-cabecera>

<div class="main-layout">
  <aside class="sidebar">
    <app-navegacion></app-navegacion>
  </aside>

    <div class="form-container">
        <h2>Asignacion de Servicios</h2>
        <form action="/api/asigna" method="POST">
            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-list"></i>
                    <input list="paciente" name="paciente" placeholder="Paciente" required>
                    <datalist id="paciente">
                        <option value="Juan Pérez">
                        <option value="María López">
                        <option value="Carlos García">
                        <option value="Ana Martínez">
                    </datalist>
                </div>
            </div>

        
            <div class="form-row">
                <div class="form-group">
                    <i class="fas fa-clock"></i>
                    <input type="date" name="fecha" required>
                </div>
                <div class="form-group">
                    <i class="fas fa-clock"></i>
                    <input type="time" name="hora" required>
                </div>
                <div class="form-group">
                    <i class="fas fa-cogs"></i>
                    <select name="tiposervicio" required>
                    <option value="" disabled selected>Tipo de Servicio</option>
                    <option value="001">Alta</option>
                    <option value="003">Baja</option>
                    </select>
                </div>
            </div>

            <div class="form-section"> 
                <h3>Datos de origen</h3>
                <div class="form-row">
                    <div class="form-group">
                        <i class="fas fa-university"></i>
                        <select name="instituciono" required>
                        <option value="" disabled selected>Institución</option>
                        <option value="001">Hospital</option>
                        <option value="002">Clinica A</option>
                        <option value="003">Clinica B</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-list"></i>
                        <input list="departamentoso" name="departamentoo" placeholder="Departamento" required>
                        <datalist id="departamentoso">
                            <option value="Bogotá">
                            <option value="Antioquia">
                            <option value="Valle del Cauca">
                            <option value="Santander">
                        </datalist>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-city"></i>
                        <select name="ciudado" required>
                        <option value="" disabled selected>Ciudad</option>
                        <option value="001">Bogota</option>
                        <option value="002">Medellin</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-section"> 
                <h3>Datos de Destino</h3>
                <div class="form-row">
                    <div class="form-group">
                        <i class="fas fa-university"></i>
                        <select name="instituciond" required>
                        <option value="" disabled selected>Institución</option>
                        <option value="001">Hospital</option>
                        <option value="002">Clinica A</option>
                        <option value="003">Clinica B</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-list"></i>
                        <input list="departamentosd" name="departamentod" placeholder="Departamento" required>
                        <datalist id="departamentosd">
                            <option value="Bogotá">
                            <option value="Antioquia">
                            <option value="Valle del Cauca">
                            <option value="Santander">
                        </datalist>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-city"></i>
                        <select name="ciudadd" required>
                        <option value="" disabled selected>Ciudad</option>
                        <option value="001">Bogota</option>
                        <option value="002">Medellin</option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit">Asignar Servicio</button>
        </form>

    </div>

<!-- Importar Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</div>
<app-pie></app-pie>