<app-cabecera></app-cabecera>

<div class="main-layout">
  <aside class="sidebar">
    <app-navegacion></app-navegacion>
  </aside>

    <div class="form-container">
    <h2>Crear Instituciones</h2>
    <form action="/api/instituciones" method="POST">
        <div class="form-row">
        <div class="form-group">
            <i class="fas fa-university"></i>
            <input type="text" name="nombre" placeholder="Nombre de la institución" required>
        </div>
        <div class="form-group">
            <i class="fas fa-map-marker-alt"></i>
            <input type="text" name="direccion" placeholder="Direccion de la institución" required>
        </div>
        <div class="form-group">
            <i class="fas fa-phone"></i>
            <input type="text" name="telefono" placeholder="Telefono de la institución" required>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group">
            <i class="fas fa-map"></i>
            <select name="departamento" required>
            <option value="" disabled selected>Departamento</option>
            <option value="11">Bogota</option>
            <option value="05">Antioquia</option>
            </select>
        </div>
        <div class="form-group">
            <i class="fas fa-city"></i>
            <select name="ciudad" required>
            <option value="" disabled selected>Ciudad</option>
            <option value="001">Bogota</option>
            <option value="002">Medellin</option>
            </select>
        </div>
        <div class="form-group">
            <i class="fas fa-cogs"></i>
            <select name="complejidad" required>
            <option value="" disabled selected>Complejidad</option>
            <option value="001">Alta</option>
            <option value="002">Media</option>
            <option value="003">Baja</option>
            </select>
        </div>
    </div>

        <button type="submit">Crear Institución</button>
    </form>

</div>

<!-- Importar Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</div>
<app-pie></app-pie>