<app-cabecera></app-cabecera>

<div class="main-layout">

  <aside class="sidebar">
    <app-navegacion></app-navegacion>
  </aside>

  <div class="form-container">

    <h2>{{ editando ? 'Actualizar Institución' : 'Crear Institución' }}</h2>

    <form [formGroup]="institucionForm" (ngSubmit)="guardar()">

      <div class="form-row">
        <div class="form-group">
          <i class="fas fa-university"></i>
          <input type="text" formControlName="nombre_institucion" placeholder="Nombre">
        </div>

        <div class="form-group">
          <i class="fas fa-map-marker-alt"></i>
          <input type="text" formControlName="direccion_institucion" placeholder="Dirección">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <i class="fas fa-city"></i>
          <select formControlName="cod_municipio" placeholder="Ciudad">
            <option [ngValue]="">Ciudad</option>
            <option [ngValue]="1">Bogotá</option>
            <option [ngValue]="2">Medellín</option>
          </select>
        </div>
        <div class="form-group">
          <i class="fas fa-university"></i>
          <select formControlName="estado_institucion">
            <option value="">Estado</option>
            <option value="ACTIVO">Activo</option>
            <option value="INACTIVO">Inactivo</option>
          </select>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group">
          <i class="fas fa-city"></i>
          <select formControlName="tipo_institucion" placeholder="Tipo">
            <option [ngValue]="">Tipo</option>
            <option [ngValue]="'Publico'">PUBLICO</option>
            <option [ngValue]="'Privado'">PRIVADO</option>
          </select>
        </div>


      </div>
      <button type="submit" class="btn-guardar">
        {{ editando ? 'Actualizar' : 'Crear Institución' }}
      </button>

    </form>

    <!-- TABLA -->
    <div class="table-container">

      <h2 class="table-title">Instituciones Registradas</h2>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>Complejidad</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of instituciones">
          <td>{{ i.nombre_institucion | uppercase }}</td>
          <td>{{ i.direccion_institucion | uppercase}}</td>
          <td>{{ i.cod_municipio }}</td>
          <td>{{ i.tipo_institucion }}</td>
          <td>{{ i.estado_institucion }}</td> 
          <td>
            <button class="btn-edit" (click)="editar(i)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn-delete" (click)="eliminar(i.id_institucion)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
        </table>
    </div>
  </div>
</div>

<app-pie></app-pie>