<app-cabecera></app-cabecera>

<div class="main-layout">

  <aside class="sidebar">
    <app-navegacion></app-navegacion>
  </aside>

  <div class="form-container">

    <h2>{{ editando ? 'Actualizar Vehículo' : 'Crear Vehículo' }}</h2>

    <form [formGroup]="vehiculoForm" (ngSubmit)="guardar()">

      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-id-card"></i>
          <input type="text" formControlName="placa" placeholder="Placa">
        </div>

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input type="text" formControlName="codsecretaria" placeholder="CodSecretaria">
        </div>

      </div>

      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-tag"></i>
          <select formControlName="tipo">
            <option value="">Tipo</option>
            <option value="basica">Basica</option>
            <option value="medicalizada">Medicalizada</option>
          </select>
        </div>

        <div class="form-group">
          <i class="fas fa-toggle-on"></i>
          <select formControlName="estado">
            <option value="">Estado</option>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
        </div>

      </div>

      <button type="submit" class="btn-guardar">
        {{ editando ? 'Actualizar' : 'Crear Vehículo' }}
      </button>

    </form>

    <!-- TABLA -->
    <div class="table-container">

    <h2 class="table-title">Vehículos Registrados</h2>
        <table class="custom-table">

        <thead>
            <tr>
            <th>Placa</th>
            <th>CodSecretaria</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let v of vehiculos">
            <td>{{ v.placa }}</td>
            <td>{{ v.codsecretaria }}</td>
            <td>{{ v.tipo }}</td>
            <td>{{ v.estado }}</td>
            <td>
                <button class="btn-edit" (click)="editar(v)">
                <i class="fas fa-edit"></i>
                </button>
                <button class="btn-delete" (click)="eliminar(v.id)">
                <i class="fas fa-trash"></i>
                </button>
            </td>
            </tr>
        </tbody>

        </table>
    </div>

  </div>

</div>

<app-pie></app-pie>