<app-cabecera></app-cabecera>

<div class="main-layout">

  <aside class="sidebar">
    <app-navegacion></app-navegacion>
  </aside>

  <div class="form-container">

    <h2>{{ editando ? 'Actualizar Vehículo' : 'Crear Vehículo' }}</h2>
    <!-- <h2>{{ ahora | date: 'dd/MM/yyyy' }}</h2> -->
    <form [formGroup]="vehiculoForm" (ngSubmit)="guardar()">

      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-id-card"></i>
          <input type="text" formControlName="placa" placeholder="Placa">
        </div>

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input type="number" formControlName="cod_secretaria" placeholder="Cod Secretaria">
        </div>

      </div>
      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-id-card"></i>
          <input type="text" formControlName="marca" placeholder="Marca">
        </div>

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input type="text" formControlName="modelo" placeholder="Modelo">
        </div>

      </div>
      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-id-card"></i>
          <input type="date" formControlName="soat" placeholder="Soat">
        </div>

        <div class="form-group">
          <i class="fas fa-key"></i>
          <input type="date" formControlName="tecnomecanica" placeholder="Tecnicomecanica">
        </div>

      </div>
      <div class="form-row">

        <div class="form-group">
          <i class="fas fa-tag"></i>
          <select formControlName="tipo_vehiculo">
            <option value="">Tipo</option>
            <option value="AMBULANCIA">Basica</option>
            <option value="AMBULANCIA">Medicalizada</option>
          </select>
        </div>

        <div class="form-group">
          <i class="fas fa-toggle-on"></i>
          <select formControlName="estado_vehiculo">
            <option value="">Estado</option>
            <option value="ACTIVO">Activo</option>
            <option value="INACTIVO">Inactivo</option>
          </select>
        </div>

      </div>

      <button type="submit" class="btn-guardar">
        {{ editando ? 'Actualizar' : 'Crear Vehículo' }}
      </button>

    </form>

    <!-- TABLA -->
    <div class="table-container">

      <h2 class="table-title">Vehículos Registrados</h2>
      <table class="custom-table">

        <thead>
          <tr>
            <th>Placa</th>
            <th>CodSecretaria</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Soat</th>
            <th>Tecnicomecanica</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>{{ v.placa }}</td>
            <td>{{ v.cod_secretaria }}</td>
            <td>{{ v.modelo }}</td>
            <td>{{ v.marca | uppercase }}</td>
            <td>{{ v.tipo_vehiculo  }}</td>
            <td>{{ v.soat }}</td>
            <td>{{ v.tecnomecanica }}</td>
            <td>{{ v.estado_vehiculo }}</td>
            <td>
              <button class="btn-edit" (click)="editar(v)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn-delete" (click)="eliminar(v.placa)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>

<app-pie></app-pie>